/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .youtube-icon {
    height: 1.5rem;
    width: 1.5rem;
  }

  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .thumbnail {
    background-color: black;
    color: white;
    font-size: 32px;
    width: 245px;
    height: 145px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .card {
    width: 245px;
    max-width: 245px;
  }

  .avatar {
    font-size: 1.2em;
    font-weight: bold;
    color: black;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
